#budget_edit_container {
  /* border: 1px black solid; */
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 10px;
  display: flex;
  display: none;
  margin-top: -45px;
}

#budget_edit_form {
  /* border: 1px black solid; */
  position: relative;
  display: flex;
  height: 20%;
  width: 100%;
}

#budget_edit_body {
  /* border: 1px black solid; */
  width: 62%;
  display: flex;
}

#budget_edit_button_container {
  /* border: 1px black solid; */
  width: 65px;
}

#budget_edit_save_button {
  /* border: 1px black solid; */
  border-radius: 3px;
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: white;
  background-color: grey;
}

#budget_edit_save_button:hover {
  color: black;
  background-color: #B9F5D8;
}

.budget_edit_label {
  /* border: 1px black solid; */
  font-size: 18px;
  height: 100%;
  margin-right: 3px;
}

.budget_edit_input {
  /* border: 1px black solid; */
  height: 100%;
  border-radius: 3px;
  margin-right: 5px;
}

#budget_edit_close {
  border: none;
  background: none;
  font-size: 20px;
  margin-right: 3px;
}

#budget_edit_close:hover {
  color: black;
  background-color: #B9F5D8;
}
