#budgets_container{
  /* border: 1px black solid; */
  height: 100vh;
  margin-top: 1vh;
}

#budget_header{
  /* border: 1px blue solid; */
  height: 25vh;
  text-align: center;
  font-size: 5vh;
  color: #ffac47;
  position: relative;
}

#budget_handler{
  /* border: 1px black solid; */
  height: 6vh;
  margin: auto;
  margin-top: 2vh;
}

#sort_button{
  border: 1px white solid;
  border-radius: 3px;
  height: 4vh;
  width: 8vw;
  font-size: 2vh;
  background-color: #ffac47;
  color: white;
  border-radius: 3px;
  margin: 1vh;
}

#sort_button:hover{
  box-shadow: 3px 3px 6px black;
}

#add_button{
  border: 1px white solid;
  border-radius: 3px;
  height: 4vh;
  width: 8vw;
  font-size: 2vh;
  background-color: #ffac47;
  color: white;
  border-radius: 3px;
  margin: 1vh;
}

#add_button:hover{
  box-shadow: 3px 3px 6px black;
}

#budget_search_input_container{
  /* border: 1px black solid; */
  float: right;
  line-height: 6vh;
  margin-right: 2vh;
}

#budget_search_input{
  border: 1px darkgrey solid;
  border-radius: 3px;
  width: 80vh;
  font-size: 2vh;
  padding: 1vh;
}

#budgets{
  /* border: 1px black solid; */
  margin-top: 1vh;
  height: 72vh;
}

#budget_label_container{
  /* border: 1px black solid; */
  display: flex;
  margin-top: 2vh;
  overflow: hidden;
}

.budget_label{
  /* border: 1px black solid; */
  width: 24.5%;
  font-size: 3vh;
  color: #3dd4e5;
  margin-bottom: 1vh;
  padding-left: 1.5vh;
  text-decoration: underline;
}

#budgets_container_main{
  /* border: 1px black solid; */
  border-left: 1px darkgrey solid;
  border-right: 1px darkgrey solid;
  height: 90%;
  overflow-y: scroll;
}

.budget_container{
  /* border: 1px black solid; */
  display: flex;
  margin-top: .5vh;
  line-height: 4vh;
}

.budget_container:hover{
  font-weight: bold;
}

.budget_info{
  /* border: 1px black solid; */
  width: 24.5%;
  font-size: 2.25vh;
  margin-left: 1vh;
  overflow: hidden;
}

#budget_label_button{
  /* border: 1px black solid; */
  width: 24.5%;
}

.budget_button{
  border: 1px white solid;
  width: 10vh;
  font-size: 1.75vh;
  background-color: #ffac47;
  color: white;
  border-radius: 3px;
  margin-left: 1vh;
}

.budget_button:hover{
  box-shadow: 3px 3px 6px black;
}
