#expenses_container{
  border: 1px black solid;
  height: 100vh;
}

#expense_header{
  /* border: 1px black solid; */
  height: 10vh;
  font-size: 5vh;
  color: #ffac47;
  text-align: center;
}

#expenses_table_container{
  /* border: 1px black solid; */
  margin-top: 4vh;
  padding: 1vh;
  height: 75%;
  display: flex;
}
#expense_list_container{
  border: 1px darkgrey solid;
  height: 100%;
  width: 20%;
  overflow-y: scroll;
  font-size: 2.5vh;
}

#budget_list{
  border: 1px black solid;
  margin: 1vh;
}

#budget{
  border: 1px black solid;
  text-align: left;
  white-space: nowrap;
  overflow-x: hidden;
  height: 5%;
  padding: 1vh;
}

#budget:hover{
  font-weight: bold;
}

#expense_table{
  border: 1px red solid;
  height: 100%;
  width: 80%;
  margin-left: 2vh;
}

#table_body{
  border: 1px black solid;
}

#table_data{
  border: 1px black solid;
}

#budget_table_row{
  border: 1px black solid;
}

.budget_table_headers{
  border: 1px black solid;
}
