#category_add_container {
  /* border: 1px black solid; */
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}

#category_add_header {
  /* border: 1px black solid; */
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

#category_form {
  /* border: 1px black solid; */
}

#category_add_budget {
  /* border: 1px black solid; */
  width: 20%;
  margin-left: 33%;
}

#category_add_budget_description {
  /* border: 1px black solid; */
  width: 30%;
}

#category_dropdown {
  /* border: 1px black solid; */
  height: 30px;
  width: 60%;
  font-size: 15px;
}

#category_add {
  /* border: 1px black solid; */
  display: flex
}

.category_add_label {
  /* border: 1px black solid; */
  font-size: 18px;
}

#category_add_input {
  height: 25px;
  width: 60%;
  font-size: 15px;
}

#category_color_container {
  /* border: 1px black solid; */
  display: flex;
  width: 75%;
  margin-left: 15%;
}

#colors {
  /* border: 1px black solid; */
  height: 20%;
  margin-right: 5px;
}

#color_container {
  /* border: 1px black solid; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: left;
}

.color {
  /* border: 1px black solid; */
  width: 100px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.color:hover {
  /* border: 1px black solid; */
  box-shadow: 15px 10px 10px black;
}

#category_save_container {
  /* border: 1px black solid; */
  width: 8%;
  margin-left: 46%;

}

#category_save_button {
  border: 1px black solid;
  height: 25px;
  width: 100px;
  border-radius: 3px;
  color: white;
  background-color: grey;
}

#category_save_button:hover {
  color: black;
  background-color: #B9F5D8;
}
