#profile_edit_container{
  /* border: 1px darkgrey solid; */
  display: flex;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: none;
}

#profile_close_container{
  /* border: 1px black solid; */
  padding: 1vh;
  width: 3vh;
  float: right;
}

#profile_close{
  /* border: 1px black solid; */
  font-size: 2vh;
  border: none;
  cursor: pointer;
}

#profile_close:hover{
  font-weight: bold;
}

#profile_edit_form{
  /* border: 1px black solid; */
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#profile_edit_information_container{
  /* border: 1px black solid; */
  height: 100%;
  display: flex;
}

.profile_edit_form_div{
  /* border: 1px black solid; */
  margin: auto;
}

.profile_info_label{
  /* border: 1px black solid; */
  font-size: 2vh;
  margin-right: .5vh;
}

.profile_info_input{
  /* border: 1px black solid; */
  font-size: 2vh;
  padding: .5vh;
}

#profile_edit_form_chckbox_div{
  /* border: 1px black solid; */
  margin: auto;
}

#profile_edit_password_checkbox{
  /* border: 1px black solid; */
}

#profile_edit_show_password_label{
  /* border: 1px black solid; */
  font-size: 1vh;
}

#profile_edit_save_button_container{
  /* border: 1px black solid; */
  margin: auto;

}

#profile_edit_save_button{
  /* border: 1px black solid; */
  border-radius: 3px;
  height: 4vh;
  border: 1px white solid;
  background-color: #ffac47;
  color: white;
  border-radius: 3px;
}
