#profile_edit_container {
  border: 1px black solid;
}

#profile_edit_form{
  border: 1px black solid;

}

#profile_information_container{
  border: 1px black solid;

}

.profile_info_label{
  border: 1px black solid;
}
