#header_container {
  /* border: 1px black solid; */
  display: flex;
  width: 100%;
}

#app_image {
  /* border: 1px black solid; */
  height: 100%;
}

.app_title {
  /* border: 1px black solid; */
  font-size: 50px;
  width: 40%
}

#date {
  /* border: 1px black solid; */
  text-align: right;
  font-size: 20px;
  width: 60%;
}

#logged_out_navbar {
  /* border: 1px black solid; */
  height: 50px;
  margin-bottom: 2%;
}

#logged_out_navoption {
  /* border: 1px black solid; */
  text-align: center;
  height: 100%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  width: 80%;
  margin: auto;
}

#logged_out_navlink {
  /* border: 1px black solid; */
  text-decoration: none;
  color: black;
  font-size: 30px;
  height: 100%;
  line-height: 50px;
}

#logged_out_navlink:hover {
  text-decoration: underline overline solid #B9F5D8;
}

.navbar {
  /* border: 1px black solid; */
  display: flex;
  height: 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.navoption {
  /* border: 1px black solid; */
  width: 20%;
  text-align: center;
}

.navlink {
  /* border: 1px black solid; */
  text-decoration: none;
  color: black;
  font-size: 30px;
  vertical-align: middle;
  line-height: 50px;
}

.navlink:hover {
  text-decoration: underline overline solid #B9F5D8;
}
